body {background-color: rgb(215, 250, 250);}
hr {
     border-style: dotted none none;
     border-color: grey;
     border-width:5px;
     width:5%; }
     img {height: 200px;}
  h1{color: #0E21A0;}
  h3{color: #0E21A0;}   
  